{% extends 'base.html' %}
{% load humanize %}
{% load static %}


{% block content%}
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>



	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Your cart</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="">Your cart</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Your Cart</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Product</th>
									<th class="quy-th">Quantity</th>
									<th class="size-th">Volume</th>
									<th class="total-th">Price</th>
								</tr>
							</thead>
							<tbody>
								
									{% for pitem in citems %}
											<tr>
												<td class="product-col">
													<img src="{{ pitem.product_id.product_image.url }}" alt="">
													<div class="pc-title">
														<h4>{{ pitem.product_id.product_name }}</h4>
														<p>${{ pitem.product_id.product_price | intcomma }}</p>
													</div>
												</td>
												<td class="quy-col">
													<div class="quantity">
														<div class="pro-qty">
															<input type="text" value="{{ pitem.cart_qty }}">
														</div>
													</div>
												</td>
												<td class="size-col"><h4>{{ pitem.product_id.product_volume }}</h4></td>
												<td class="total-col"><h4>${{ pitem.product_id.product_price | intcomma }}</h4></td>
											</tr>
										
									{% endfor %}
								
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span>${{ pitems }}</span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					<form class="promo-code-form">
						<input type="text" placeholder="Enter promo code">
						<button>Submit</button>
					</form>
					<a  class="site-btn" type="submit">Proceed to checkout</a>
					<a href="" class="site-btn sb-dark">Continue shopping</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->



{% endblock %}