{% extends 'base.html' %}

{% block content%}
    
  

    <!-- Contact section -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 contact-info">
                    <h3>Get in touch</h3>
                    <p>MIET, MEERUT</p>
                    <p>+91 8266000441</p>
                    <p>vaibhav19bansal@gmail.com</p>
                    <div class="contact-social">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                    <form class="contact-form" action="{% url 'afcontact' %}" method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Your name" name="name">
                        <input type="email" placeholder="Your e-mail" name="email">
                        <input type="text" placeholder="Subject" name="subject">
                        <textarea placeholder="Message" name="text"></textarea>
                        <button class="site-btn" type="submit">SEND NOW</button><br><br>
                    </form>
                </div>
            </div>
        </div>
        <div class="map"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=miet meerut&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.bgmi.org/">BGMI</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>
    </section>
    <!-- Contact section end -->

 
{% endblock %}