{% load static %}

<body>
    <!-- Header section -->
    <header class="header-section">
        <nav class="main-navbar">
            <div class="container d-flex">
                <div style="flex: 1" class="pt-2 nav-logo-container">
                    <a href="index.html"><img src="{% static './img/logo-light1.png' %}" alt=""></a>
                </div>

                <div class="mobile-nav-padding"></div>

                <ul class="main-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <!--<li><a href="#">Products</a></li>-->
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Header section end -->